body {
  padding: 3rem;
  /* as we are speicifying font-family in body it will be inherited by all child elements throughout  */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $grey-dark;
}

.heading-primary {
  color: $white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-in-out;
  }
}
