.card{
   position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 50rem; //because child has been set absolute the parent loses its height 
    &__slide{
        height: 50rem;
        transition: transform .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;

        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(grey,.16);

        &--front{
            background-color: $white;
        }
        &--back{
            transform: rotateY(180deg);

            &-1{
                
                background-image: linear-gradient(to right bottom, $secondary-light,$secondary-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom, $primary, $primary-dark) ;
            }
            &-3{
                
                background-image: linear-gradient(to right bottom, $tertiary-light,$tertiary-dark);
            }
        }
    }
    &:hover &__slide--front{
        transform: rotateY(-180deg);
    }
    &:hover &__slide--back{
        transform: rotateY(0);
    }
}