$primary-light: #7ed56f;
$primary: #55c57a;
$primary-dark: #28b485;
$grey-dark: #777;
$white: #fff;
$black: #000;
$grey-light-1: #f7f7f7;
/*Colors end*/

//GRID
$grid-width: 114rem; //1140px
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


//Font size
$default-font-size: 1.6rem;
